.list-group
  = link_to 'Объявления на модерации', admin_root_path, class: "list-group-item list-group-item-action#{' active' if controller_name == 'home'}"
  = link_to 'Все объявления', admin_bulletins_path, class: "list-group-item list-group-item-action#{' active' if controller_name == 'bulletins'}"
  = link_to 'Все категории', admin_categories_path, class: "list-group-item list-group-item-action#{' active' if controller_name == 'categories'}"
