= simple_form_for(bulletin) do |f|
  = f.input :title,
    input_html: { class: 'form-control' },
    required: true

  = f.input :description,
    as: :text,
    input_html: { class: 'form-control', rows: 4 },
    required: true

  = f.association :category,
    input_html: { class: 'form-control mb-2' },
    required: true

  - if bulletin.persisted?
    = image_tag bulletin.image, style: 'max-height: 100px; height: auto;', class: 'img-thumbnail mb-2'

  = f.input :image,
    as: :file,
    input_html: { class: 'form-control' },
    required: bulletin.new_record?

  = f.submit class: 'btn btn-primary'
